body {
  background-image: url(Netflix\ Indian\ Movies\ and\ Web\ Series.jpg);
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signin-container {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 60px 68px 40px;
  max-width: 400px;
  width: 100%;
  border-radius: 4px;
}

.signin-form h1 {
  font-size: 32px;
  margin-bottom: 28px;
}

.signin-form input {
  width: 100%;
  padding: 16px;
  margin: 8px 0;
  background: #333;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
}

.signin-form button {
  width: 100%;
  padding: 16px;
  margin-top: 20px;
  background-color: green;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  font-size: 14px;
  color: #b3b3b3;
}

.options a {
  color: #b3b3b3;
  text-decoration: none;
}

.signup-text {
  margin-top: 60px;
  font-size: 14px;
  color: #b3b3b3;
}

.signup-text a {
  color: white;
  text-decoration: none;
}
